<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
    <title>トップ</title>
</head>
<body>
<div class="ui container">

  <div class="ui basic segment">
  <h1 class="ui header">本一覧</h1>
  </div>
  <div class="ui basic segment">

    <table class="ui celled table">
      <thead>
      <tr>
          <th>タイトル</th>
      </tr>
      </thead>
      <tbody>
      <!--TODO 動的出力-->
      <tr th:each="book : ${books.list()}">
        <td th:text="${book.title()}"/>
      </tr>
    </tbody>
  </table>
</div>
</div>
<footer th:include="fragments/layout :: footer"/>
</body>
</html>