<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rental.infrastructure.datasource.book.BookMapper">

    <resultMap id="bookSummary" type="rental.model.book.BookSummary">
        <result property="title.value" column="title"/>
    </resultMap>

    <select id="list" resultMap="bookSummary">
        SELECT
            title
        FROM rental.books
    </select>
</mapper>